@import 'reset.scss';
@import 'root.scss';
@import './pages/index.scss';
@import './components/index.scss';
@import 'antd/dist/antd.css';
.home{
    height: 200px;
    display: flex ;
    width: 100%;
    justify-content: space-around;
    padding-top: 50px;
}